/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: transparent;
}

#emote{
	width: 300px;
	height: 350px;
	position: relative;
	overflow: hidden;
}

#emoteContainer {
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(300px);
	-webkit-transition: -webkit-transform 1s;
}

#emoteContainer.surprise {
	-webkit-transform: translateY(0px);
	background: url(images/emote_surprise.png) no-repeat top center;
}

#ticker {
	width: 300px;
	height: 50px;
	background: url("images/emoteScroller.png");
	position: absolute;
	top: 300px;
	right: 0px;
}

	.tickerText {
			color: #fff; 
			font-family: Arial;
			text-align: left; 
			display: block; 
			line-height: 30px;
			height: 30px; 
			font-size: 20px; 
			width: 267px;
			position: relative;
			top: 7px;
			left: 21px;
			overflow: hidden;
	}

#emoteCountWrapper {
	width: 405px;
	height: 183px;
	background: url(images/emoteScroller.png) no-repeat bottom center;
	position: relative;
}

	#count {
  font-size: 78px;
  font-family: "Myriad Pro";
  color: #a9f0fd;
		text-transform: uppercase;
		text-align: center;
  	text-shadow:
	   	-1px -1px 0 #191e37,  
	    1px -1px 0 #191e37,
	    -1px 1px 0 #191e37,
	    1px 1px 0 #191e37;
  position: absolute;
  top: 59px;
  width: 100%;
  text-align: center;
}

#icon {
	width: 58px;
	height: 58px;
	position: absolute;
	bottom: 12px;
	left: 65px;
}

	#icon.surprise {
		background: url(images/icon_emote_surprise.png);
	}

	#marquee {
		width: 214px;
		height: 32px;
		line-height: 32px;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		bottom: 10px;
		left: 128px;
		overflow: hidden;
		font-size: 14px;
		font-family: "Arial"
	}

	#help {
		font-size: 14px;
		font-family: "Arial";
		color: #a9f0fd;
		text-transform: uppercase;
		text-align: center;
  	text-shadow:
	   	-1px -1px 0 #191e37,  
	    1px -1px 0 #191e37,
	    -1px 1px 0 #191e37,
	    1px 1px 0 #191e37;
		position: absolute;
		bottom: -10px;
		width: 100%;
		font-weight: bold;
}

