/* @override 
	http://localhost:7078/styles.css */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: transparent;
}

#emote{
	width: 300px;
	height: 350px;
	position: relative;
	overflow: hidden;
}

#emoteContainer {
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(300px);
	-webkit-transition: -webkit-transform 1s;
}

#emoteContainer.surprise {
	-webkit-transform: translateY(0px);
	background: url(images/emote_surprise.png) no-repeat top center;
}

#ticker {
	width: 300px;
	height: 50px;
	background: url("images/emoteScroller.png");
	position: absolute;
	top: 300px;
	right: 0px;
}

	.tickerText {
			color: #fff; 
			font-family: Arial;
			text-align: left; 
			display: block; 
			line-height: 30px;
			height: 30px; 
			font-size: 20px; 
			width: 267px;
			position: relative;
			top: 7px;
			left: 21px;
			overflow: hidden;
	}

#emoteCountWrapper {
	width: 405px;
	height: 183px;
	background: url(images/emoteScroller.png) no-repeat bottom center;
	position: relative;
}

	#count {
  font-size: 78px;
  font-family: "Myriad Pro";
  color: #a9f0fd;
		text-transform: uppercase;
		text-align: center;
  	text-shadow:
	   	-1px -1px 0 #191e37,  
	    1px -1px 0 #191e37,
	    -1px 1px 0 #191e37,
	    1px 1px 0 #191e37;
  position: absolute;
  top: 59px;
  width: 100%;
  text-align: center;
}

#icon {
	width: 58px;
	height: 58px;
	position: absolute;
	bottom: 12px;
	left: 65px;
}

	#icon.surprise {
		background: url(images/icon_emote_surprise.png);
	}

	#marquee {
		width: 214px;
		height: 32px;
		line-height: 32px;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		bottom: 10px;
		left: 128px;
		overflow: hidden;
		font-size: 14px;
		font-family: "Arial"
	}

	#help {
		font-size: 14px;
		font-family: "Arial";
		color: #a9f0fd;
		text-transform: uppercase;
		text-align: center;
  	text-shadow:
	   	-1px -1px 0 #191e37,  
	    1px -1px 0 #191e37,
	    -1px 1px 0 #191e37,
	    1px 1px 0 #191e37;
		position: absolute;
		bottom: -10px;
		width: 100%;
		font-weight: bold;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> TS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
*:focus { outline: none; }

body#banHunter {
	background: #915f2b url(images/bg.png) no-repeat center top;
}

#banHunter #wrapper {
	width: 1100px;
	margin: 0 auto;
}

#banner {
	height: 80px;
	background: url(images/header.png);
}

	#banner h1 {
		width: 1100px;
		height: 58px;
		background: url(images/logo.png) no-repeat left center;
		text-indent: -99999px;
		margin: 0 auto;
		position: relative;
		top: 10px;
	}
	
	#searchWrapper {
		height: 210px;
		width: 674px;
		margin: 80px auto;
		position: relative;
		overflow: hidden;
	}
	
		#search {
			width: 674px;
			height: 109px;
			background: url(images/searchBG.png);
		}
		
			#search input {
				width: 486px;
				height: 43px;
				position: absolute;
				right: 75px;
				top: 48px;
				text-indent: 30px;
				font-size: 30px;
				color: #fff;
				background: transparent;
				border: none;
			}
			
		#search.active {
			background: url(images/searchingBG.png);
		}
		
		.pressEnter {
			display: block;
			width: 119px;
			height: 31px;
			background: url(images/pressEnter.png);
			position: absolute;
			right: 85px;
			top: 56px;
		}
		
		#opponents {
			width: 400px;
			height: 60px;
			margin: 0 auto;
			overflow: hidden;
			margin-top: 40px;
		}
		
			.opponent {
				display: block;
				float: left;
				height: 60px;
				width: 60px;
				background: url(images/anonymousSearch.png);
				margin-left: 15px;
				
			}
			
				.opponent span {
					display: block;
					height: 100%;
					width: 100%;
					background-position: center center;
					background-repeat: no-repeat;
				}
				
				.opponent.check span {
					background-image: url(images/check.png);
				}
				
				.opponent.ellipse span {
					background-image: url(images/ellipses.png);
				}
				
				.opponent.close span {
					background-image: url(images/cancel.png);
				}
				
		
		#built {
			width: 391px;
			height: 115px;
			background: url(images/built.png);
			margin: 0 auto;
			position: relative;
		}
			#built a {
				display: block;
				width: 100%;
				height: 100%;
			}
			
			#built:hover {
				top: 2px;
			}
			